// primary colours
:root {
  --light-primary: #150f13;
  --light-secondary: #f9f6f8;
  --light-primary-btn: #b5c9bd;
  --light-secondary-btn: #f2edf0;
  --light-accent: #b5c9bd;

  --dark-primary: #fdfcfd;
  --dark-secondary: #1b121b;
  --dark-primary-btn: #5a8259;
  --dark-secondary-btn: #0c080c;
  --dark-accent: #304630;

}